.digit-handler-button-container{
    margin: 0 auto;
    width: 70px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.digit-handler-button-container__button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border-style: none;
    cursor: pointer;
    background-color: rgba(53, 106, 148, .8);
    color: white;
}

.digit-handler-button-container__button > span {
    font-size: 2.5em;
}

.digit-handler-button-container__button:hover{
    background-color: rgb(80, 153, 212);
    transition: all .2s;
}

.digit-handler-button-container__button:active{
    background-color: rgb(212, 163, 80);
    transition: all .2s;
}