<div class="counter-container">
  <app-digit-handler [digitHandlerTitle]="digitTitle.HOURS" [initValue]="hours" (currentValue)="getCurrentValue($event)" (currentType)="getCurrentType($event)"></app-digit-handler>
  <span>:</span>
  <app-digit-handler [digitHandlerTitle]="digitTitle.MINUTES" [initValue]="minutes" (currentValue)="getCurrentValue($event)" (currentType)="getCurrentType($event)"></app-digit-handler>
  <span>:</span>
  <app-digit-handler [digitHandlerTitle]="digitTitle.SECONDS" [initValue]="seconds" (currentValue)="getCurrentValue($event)" (currentType)="getCurrentType($event)"></app-digit-handler>
</div>