<div class="digit-handler-container">
    <span class="digit-handler__title">{{ digitHandlerTitle.toUpperCase() }}</span>
    <app-digit-handler-button [type]="types.INCREASE" (operationSelected)="updateValue($event)"></app-digit-handler-button>
    <div class="digit-number-container">
        <span class="digit-handler__value">{{ counterHandlerValue | doubleNumber }}</span>
    </div>
    <app-digit-handler-button [type]="types.DECREASE" (operationSelected)="updateValue($event)"></app-digit-handler-button>
</div>